/* ---- NORMALIZE CSS ---- */

html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box !important;
    width: 100%;
    height: 100%;
    position: relative;
    /* 2 */
}

* {
    margin: 0 !important;
    box-sizing: border-box !important;
}

img {
    filter: grayscale();
}

body {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #333;
    box-sizing: border-box !important;
}

.no-scroll {
    overflow: hidden !important;
}


main {
    display: block;
}

h1 {
    font-size: 2em;
}

span {
    font-size: 1em;
}

hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}

pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}


small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}


button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}

button,
input {
    /* 1 */
    overflow: visible;
}

button,
select {
    /* 1 */
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

a {
    text-decoration: none;
}

/* ------ END OF NORMALIZE CSS ------ */


/* —————————————————————————————————— */


/* --- CURSOR ---*/

.cursor {
    position: absolute;
    display: inline-flex;
    align-items: center;
    pointer-events: none;
    z-index: 9999;
    transform: translate(50vw, 50vh) translate(-50%, -50%);
}

.cursor .cursor-inner {
    display: flex;
    display: inline-flex;
    align-items: center;
    transition: 600ms all cubic-bezier(0.23, 1, 0.32, 1);
    transform: rotate(0deg);
}

.cursor.grab .cursor-inner {
    transform: rotate(180deg);
}

.cursor.grab .cursor-centre {
    background-color: #333;
    transform: scale(0.3);
}

.cursor .cursor-centre {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #333;
    transition: 600ms all cubic-bezier(0.23, 1, 0.32, 1);
}

/* ---- GLOBAL ---- */

#main {
    position: relative;
    width: calc(80vw - 1px);
    margin: 0 auto !important;
}

a {
    color: #333;
}

.section {
    padding: 120px 0;
    line-height: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    overflow: hidden;
}

.hero-section {
    overflow: hidden;
}

.no-padding {
    padding-bottom: 0 !important;
}

.padding-top {
    padding-top: 120px;
}

.section-no-gap {
    padding-bottom: 120px;
    line-height: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-link {
    font-weight: 800;
    text-decoration: underline;
}

.more {
    text-decoration: none;
    font-weight: 600;
    text-align: center;
}

h3 {
    text-transform: uppercase;
    letter-spacing: 1em;
    font-size: 1em;
    font-weight: 400;
    text-align: left !important;
}

.text {
    margin-top: 80px !important;
    font-size: 1em !important;
    font-weight: 400 !important;
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: 600;
}

.m-40 {
    margin-bottom: 40px !important;
}

.m-120 {
    margin-bottom: 120px !important;
}

.border-left {
    border-left: 1px solid #333;
    padding: 0px 40px !important;
}


.remove-padding {
    padding: 0 !important;
}

/* PRELOADER */


h4 {
    color: #fff;
    font-size: 1em;
    letter-spacing: 1em;
    font-weight: 400;
    text-transform: uppercase;
    position: absolute;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.loader {
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 9;
    transform: translateY(-100%);
    animation: loader 1.2s cubic-bezier(0.5, 0.6, 0.2, 1);
    animation-fill-mode: backwards;
    animation-delay: 1.5s;
}

@-webkit-keyframes loader {
    0% {
        opacity: 1;
        transform: translateY(0%);
    }

    100% {
        opacity: 1;
        transform: translateY(-100%);
    }
}

@keyframes loader {
    0% {
        opacity: 1;
        transform: translateY(0%);
    }

    100% {
        opacity: 1;
        transform: translateY(-100%);
    }
}

.loader2 {
    background-color: #ddd;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 5;
    transform: translateY(-100%);
    animation: loader .8s cubic-bezier(0.5, 0.6, 0.2, 1);
    animation-fill-mode: backwards;
    animation-delay: 2s;
}

@keyframes loader {
    0% {
        opacity: 1;
        transform: translateY(0%);
    }

    100% {
        opacity: 1;
        transform: translateY(-100%);
    }
}

.fadeInUp {
    animation: fadeInUp 1.6s cubic-bezier(0.2, 0.6, 0.2, 1);
    animation-fill-mode: backwards;
    animation-delay: .2s;
}

.delay {
    animation-delay: .5s;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate {
    animation: animate 1s cubic-bezier(0.2, 0.6, 0.2, 1);
    animation-fill-mode: backwards;
    animation-delay: 2s;
}


@keyframes animate {
    0% {
        opacity: 0.5;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}


/* ------ END OF GLOBAL ------ */

/* —————————————————————————————————— */


/* ---- BACKGROUND GRID ---- */

.pattern {
    z-index: -1;
    position: absolute;
    width: 100%;
    overflow: auto;
    display: blfock;
}

.decolines {
    display: flex;
    justify-content: space-around;
    pointer-events: none;
    position: relative;
}

.vertLine {
    width: 1px;
    background-color: #eeeeee;
    position: relative;
}

.vertLine:after {
    content: "";
    display: block;
    width: 20vw;
    height: 1px;
    position: absolute;
    top: 140px;
    left: calc(0px - 10vw);
    background-color: #eeeeee;
}


/* ------ END OF BACKGROUND GRID ------ */

/* —————————————————————————————————— */

/* ---- MENU ---- */

.container {
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(80vw - 1px);
    margin: 0 auto !important;
}

.logo {
    display: block;
}

/* BURGER */

.burger {
    position: relative;
    z-index: 9999;
    display: inline-block;
    transform: rotate(180deg);
    transition: all 300ms ease;
}

.burger:hover {
    cursor: pointer;
}


.burger:hover .line:nth-last-child(1) {
    width: 40px;
}

a:hover .cursor .cursor-circle {
    background: red;
}

.line {
    width: 40px;
    height: 1px;
    background-color: #333;
    margin: 6px 0 !important;
    transition: 400ms;
}

.line:nth-last-child(1) {
    width: 20px;
}

.line:nth-last-child(3) {
    display: none;
    padding: 0;
}

.change {
    padding-top: 12px !important;
}

.change .line:nth-last-child(2) {
    width: 40px;
    transform: rotate(-45deg) translate(-10px, 6px);
}

.change .line:nth-last-child(3) {
    opacity: 0;
}

.change .line:nth-last-child(1) {
    width: 40px;
    transform: rotate(45deg) translate(1px, 6px);
}

/* MENU OVERLAY */

.overlay {
    overflow-y: hidden;
    min-height: 100vh;
    height: auto;
    z-index: 1000;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ddd;
    top: 0;
    right: 0;
    width: 0%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, width .50s, visibility .35s, height .35s;
}

.overlay.open {
    opacity: 1;
    visibility: visible;
    height: 100%;
    width: 100%;
}

/* MENU CONTENT */

.overlay.open li {
    margin: 0 !important;
    padding: 0 !important;
    justify-items: center;
    animation: fadeInRight .5s ease forwards;
    animation-delay: .30s;
}

/* 35 4 45 50 70 */

.overlay.open li:nth-of-type(2) {
    animation-delay: .35s;
}

.overlay.open li:nth-of-type(3) {
    animation-delay: .4s;
}

.overlay.open li:nth-of-type(4) {
    animation-delay: .45s;
}

.overlay.open li:nth-of-type(5) {
    animation-delay: .50s;
}

.overlay.open li:nth-of-type(6) {
    animation-delay: .65s;
}


.overlay nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.overlay ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
}

.overlay ul li {
    display: block;
    position: relative;
    color: #333;
    text-decoration: none;
    overflow: hidden;
    letter-spacing: 1em;
    height: calc(100% / 6);
    opacity: 0;
    margin: 0;
    padding: 0;
    text-align: center;
}

span {
    letter-spacing: 0;
}

/* HOVER ANIMATION */

.hover-line {
    display: inline-block;
    color: #333;
    text-decoration: none;
}

.hover-line::after {
    margin-top: 8px;
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #333;
    transition: width .3s;
}

.hover-line:hover::after {
    width: 100%;
    transition: width .3s;
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}

/* ------ END OF MENU ------ */

/* —————————————————————————————————— */

/* ---- HERO SECTION ---- */

.hero {
    padding: 120px 0;
}

.hero p {
    font-size: 2em;
    font-weight: 800;
    line-height: 2em;
}


/* ------ END OF HERO ------ */

/* —————————————————————————————————— */

/* ---- FEATURED SECTION ---- */

.featured h3,
.projects h3 {
    text-transform: uppercase;
    letter-spacing: 1em;
    font-size: 1em;
    font-weight: 400;
    text-align: left !important;
}

.featured,
.projects {
    position: relative;
    width: 100%;
    text-align: center;
}

.featured-gallery,
.projects-gallery {
    width: 100%;
    padding: 60px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    justify-content: center;
}

.featured-gallery img,
.projects-gallery img {
    width: 100%;
    object-fit: cover;
    filter: grayscale(100%);
}

.featured-gallery .caption:nth-child(4),
projects-gallery .caption:nth-child(4) {
    grid-row: 2 / span 2;
    grid-column: 1 / span 2;
}

.caption {
    position: relative;
}

img {
    border: 0;
    vertical-align: top;
}

.caption-overlay {
    background: rgba(51, 51, 51, 0.7);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: all 400ms ease-in-out 0s;
}

.caption:hover .caption-overlay {
    opacity: 1;
}

.caption-details {
    position: absolute;
    padding: 20px;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 300ms ease-in-out 0s;
}

.caption:hover .caption-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.caption-details h3 {
    line-height: 2em;
    text-align: center !important;
    color: #fff;
    font-weight: 400;
    letter-spacing: 1em;
    text-transform: uppercase;
}

.fadeIn-bottom {
    top: 80%;
}


/* ------ END OF FEATURED SECTION ------ */

/* —————————————————————————————————— */

/* ---- CALL TO ACTION ---- */

.cta {
    padding: 120px 0;
    text-align: center;
}

.cta p {
    font-size: 2em;
    font-weight: 800;
    line-height: 2em;
}

.cta a {
    padding-top: 60px;
    font-weight: 600;
}

.anime-link {
    display: inline-block;
    color: #333;
}

.anime-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #333;
    transition: width .3s;
}

.anime-link:hover::after {
    width: 100%;
    transition: width .3s;
}



/* - project details */

.project-details {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-column-gap: 40px;
    padding: 80px 0;

}

.project-details p,
.project-details h3 {
    line-height: 3em !important;
}

.share {
    padding-top: 120px;
}

.share i {
    padding-right: 40px;
}

.share i:hover {
    cursor: pointer;
}

.next {
    text-align: right;
}


/* ------ END OF CALL TO ACTION ------ */

/* —————————————————————————————————— */

/* ---- FOOTER ---- */

footer {
    height: 100px;
    display: flex;
    background-color: #333;
    color: #fff;
    font-size: 0.8em;
    font-weight: 400;
    bottom: 0 !important;
    width: 100%;
    justify-content: space-between;
    padding: 40px;
}

footer a,
footer i {
    color: #fff;
    padding-left: 20px;
}

footer a:nth-child(1) {
    padding-left: 0;
}

.socials i:hover {
    transition: all 300ms ease;
    transform: scale(1.3);
}

footer:hover > .cursor-centre {
    border: 1px solid #fafafa;
    transition: 600ms all cubic-bezier(0.23, 1, 0.32, 1);
}


/* ------ END OF FOOTER ------ */


/* —————————————————————————————————— */

/* ---- ABOUT SECTION 2 COLUMNS ---- */

.clients {
    width: 100%;
    height: 300px;
    padding: 0 0 60px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: flex-start;
    justify-items: start;
}

.clients img {
    width: 60%;
}

.about-img {
    text-align: right;
}

/* ------ END OF ABOUT ------ */


/* —————————————————————————————————— */

/* ---- CONTACTS ---- */

.error {
    color: red;
}

.info p {
    padding: 0 40px;
    letter-spacing: 0.2em;
}

.form input {
    width: 100%;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

.form-row:nth-child(2) {
    grid-template-columns: 1fr;
}

input,
select,
textarea {
    background: transparent !important;
    margin-bottom: 80px !important;
    border: none !important;
    border-bottom: 1px solid #333 !important;
    padding-bottom: 10px;
    text-transform: none;
}

textarea:focus,
input:focus {
    outline: none;
}

input[type=submit] {
    display: inline-block;
    color: #333;
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
    text-align: left;
    font-weight: 600;
    text-transform: lowercase;
    background: transparent !important;
    border: 0 none;
    cursor: pointer;
    border-radius: 0;
    border-bottom: none !important;
}

/* ------ END OF CONTACTS ------ */

/* —————————————————————————————————— */

/* ---- RENTAL PAGE ---- */


.categories-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    padding: 120px 0;
    overflow: hidden;
}

.categories-list li {
    opacity: 0.5;
}

.current-category {
    opacity: 1 !important;
}

.categories-list img {
    width: 100%;
    height: 150px;
}

ul.categories-list li {
    display: inline-block;
    position: relative;
}

span.categories-caption {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    left: 0;
    position: absolute;
    top: 0;
}

span.categories-caption span {
    font-size: 0.8em;
    letter-spacing: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: auto;
    text-align: center;
    vertical-align: middle;
}

span.categories-caption {
    font-size: 0.em;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    cursor: pointer;
    left: 0;
    position: absolute;
    top: 0;
    opacity: 0;
}

/* ul.categories-list li:hover span.categories-caption {
  opacity: 1;
} */

ul.categories-list li span.categories-caption {
    opacity: 1;
}

span.categories-caption {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    height: 150px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}


/*
.categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    padding: 120px 0;
    overflow: hidden;
}

.categories img {
    width: 100%;
    transition: .5s;
}

.categories a:hover img {
    transform: scale(1.05);
}
*/

.product-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.filters h3 {
    padding-bottom: 80px;
}

#products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 80px;
}

#products img {
    height: 250px;
    width: auto;
    object-fit: cover;
}

#products-one-column {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 80px;
}

#products-one-column img {
    width: 100%;
}

#products h3,
.products h3,
#products-one-column h3 {
    line-height: 3em;
    padding-top: 20px !important;
}

ul {
    padding-left: 0;
    list-style-type: none !important;
}

li {
    padding-bottom: 20px;
}



/* products filters */

.tile {
    transform: scale(0);
    transition: all 350ms ease;

}

.scale-anm {
    transform: scale(1);
}

.tile img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;

}

.btn {
    text-align: left;
    font-size: 1rem;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    padding: 0 !important;
    border: none !important;
    background-color: rgba(0, 0, 0, 0);
}

.btn:hover {
    text-decoration: none;
}

.btn:focus {
    outline: none;
    font-weight: 600;
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.filters ul {
    display: grid;
    grid-row-gap: 40px;
}


.product-details {
    padding-bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 120px;
}

.products img {
    width: 100%;
}


/* ------ END OF RENTAL PAGE ------ */


/* —————————————————————————————————— */

/* ---- BLOG PAGE ---- */


.featured-blog-post {
    display: grid;
    grid-template-columns: 0.1fr 1fr 1fr;
    grid-column-gap: 80px;
}

.date p {
    line-height: 2em !important;
}

.post-details {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.post-details h3,
.blog-posts h3,
.post-content h3 {
    letter-spacing: 4px;
    font-weight: 600;
    line-height: 2em;
}

.post-details p,
.blog-posts p {
    line-height: 2em;
    padding-bottom: 0 !important;
}


.blog-posts {
    margin: 40px 0 120px 0 !important;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 120px;
}

.post-content p {
    padding-top: 80px;
}

.blog-posts img {
    width: 100%;
}

.blog-posts h3 {
    padding: 40px 0;
}

.more-posts {
    width: 80%;
    margin: 0 auto !important;
    text-align: center;
}

.blog-post-img img {
    width: 100%;
    object-fit: cover;
    height: 600px;
}

.cookies {
    width: 80%;
    padding: 120px 0 40px 0;
    line-height: 2em;
}

/* —————————————————————————————————— */
/* —————————————————————————————————— */
/* —————————————————————————————————— */
/* —————————————————————————————————— */
/* —————————— MOBILE —————————— */

@media only screen and (max-width: 1240px) {
    .product-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .filters h3 {
        padding-bottom: 80px;
    }

    #products {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 40px;
        grid-row-gap: 80px;
    }

}

@media only screen and (max-width: 720px) {

    .cookies {
        width: 100%;
    }

    .overlay {
        grid-template-columns: 1fr;
    }

    .overlay img {
        display: none;
    }

    /*
    .categories-list {
        grid-template-columns: 1fr;
        grid-row-gap: 40px;
    }
*/

    ul.categories-list {
        grid-template-columns: 1fr;
    }


    .categories-list img {
        width: 100%;
        height: auto;
    }

    .filters ul {
        display: inline-block;
        margin-bottom: 40px !important;
    }

    .btn {
        padding: 20px 20px 0 0 !important;

    }

    /* ---- BACKGROUND GRID ---- */


    /* footer */

    footer {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        justify-content: center;
        line-height: 2em;
    }

    .socials {
        padding: 40px 0 !important;
    }

    .socials i:nth-child(1) {
        padding-left: 0px !important;
    }

    .socials i:hover {
        cursor: pointer;
    }

    .policies a {
        display: grid;
        padding: 20px 0;
    }

    .test p {
        padding: 120px 0 !important;
    }


    /* ---- ABOUT PAGE ---- */


    .section,
    .section-no-gap {
        grid-template-columns: 1fr;
        overflow: hidden;
    }

    .section img {
        width: 100%;
        height: auto;
    }

    /* ---- CONTACT PAGE ---- */
    .info {
        margin-bottom: 80px !important;
    }

    .form-row {
        grid-template-columns: 1fr;
    }

    .info p {
        padding: 0;
        letter-spacing: 0.2em;
    }

    /* ---- PROJECT ---- */
    .projects-gallery,
    .featured-gallery {
        grid-template-columns: 1fr;
        height: auto;
    }


    .clients {
        justify-content: flex-start;
        grid-column-gap: 40px;
    }

    .clients img {
        width: 100%;
    }



    /* ---- PROJECT DETAILS ---- */

    iframe {
        height: 200px;
    }

    .previous,
    .next {
        display: none !important;
    }

    .project-details {
        grid-template-columns: 1fr;
    }

    .details {
        margin-top: 40px !important;
    }

    .product-section {
        display: grid;
        grid-template-columns: 1fr;
    }

    #products {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 80px;
        padding-top: 60px;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr;
    }

    .blog-posts {
        grid-template-columns: 1fr;
    }

    .post {
        padding-bottom: 80px;
    }

    .featured-blog-post {
        grid-template-columns: 1fr;
    }

    .date {
        padding-bottom: 20px;
    }

    .post-details {
        margin-top: 40px !important;
    }

    .categories-caption {
        height: auto;
    }


}
